.form2 {
	color:#000000;
  font-size: 3em;
  font-weight: bold;
  border: 4px solid #fff;
  background: #7f82e3;
  width: 600px;	height: 70px;
  outline: 4px solid #000;
  margin: auto;
	text-align: center;
}

.form {
	  margin: auto;
    width: 600px;	height: 300px;
    background: #b9baf0;
    outline: 4px solid #000;
    border: 4px solid #fff;
    border-radius: 25px;
}

 p {
	 text-align: center;
 }

operand {
	display: inline-block;
	padding: 40px;
}
